# Capacity Informations

### Total capacity of Master Nodes
 
```python
{{MASTER_TOTAL_CPU}} vCPU
{{MASTER_TOTAL_MEMORY}} GB
```
---

### Total capacity of Worker Nodes
 
```python
{{WORKER_TOTAL_CPU}} vCPU
{{WORKER_TOTAL_MEMORY}} GB
```
---

### Total capacity of Infra Nodes
 
```python
{{INFRA_TOTAL_CPU}} vCPU
{{INFRA_TOTAL_MEMORY}} GB
```
----