# ODF General Informations

## ODF Status and Health
```python
 {{CEPH_HEALTH}}
```

## ODF Health
```python
 {{CEPH_STATUS}}
```

## ODF Status
```python
 {{CEPH_OSD_STATUS}}
```

## ODF OSD Status
```python
{{CEPH_OSD_DF}}
```

# ODF DF DETAIL
```python
{{CEPH_DF_DETAIL}}
```

## ODF OSD LSPOOLS
```python
{{CEPH_OSD_LSPOOLS}}
```

## ODF MON STAT
```python
{{CEPH_MON_STAT}}
```

## ODF MON DUMP
```python
{{CEPH_MON_DUMP}}
```

## ODF OSD DF TREE
```python
{{CEPH_ODS_DF_TREE}}
```

## ODF OSD TREE
```python
{{CEPH_OSD_TREE}}
```

## ODF FS DUMP
```python
{{CEPH_FS_DUMP}}
```

## ODF FS LS
```python
{{CEPH_FS_LS}}
```

## ODF FS STATUS
```python
{{CEPH_FS_STATUS}}
```

## ODF MDS STAT
```python
{{CEPH_MDS_STAT}}
```

## ODF FS SUBVOLUME
```python
{{CEPH_FS_SUBVOLUME}} 
```


