# Operators Status

### Installed Operators
```
{{OPERATORS}}
```

### Install Plans
```
{{INSTALL_PLAN}}
```

### CSVs
```
{{CSV_STATUS}}
```

### Subscriptions
```
{{SUBSCRIPTIONS}}
```

### CSVs without Sucess
```
{{CSV_NO_SUCCESS}}
```

### Install Plans Not Approved
```
{{INSTALL_PLAN_NOT_APPROVED}}
```